.home-text {
    /*border: 1px solid white;*/
    display: flex;
    align-items: column;
}


.home-title {
    /*border: 1px solid white;*/
    color: rgb(162, 255, 0);  
    height: 20%;
    top: 0px;
    align-items: center;
}

.home-title h1 {     
    font-size: 100px;    
    font-weight: 800;     
  }

.home-paragraph {    
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
                         
            
.home-paragraph-column {   
    border: 1px solid white;
    background-color: rgb(185, 8, 120); 
    border-radius: 10px;
    width: 30%;
    height: 80%;   
    font-size: 18px;   
    line-height: 20px;
    margin: 20px;
    padding: 30px;   
}

.home-paragraph-column img {
    width: 240px;
}

.home-paragraph-column p {
    font-size: 20px;
    line-height: 22px;
}

@media (max-width: 1024px) {

    .home-paragraph-column {  
        font-size: 16px;   
        line-height: 18px;
        margin: 10px;
        padding: 30px; 
    }

    .home-paragraph-column img {
        width: 180px;
    }
}


@media (max-width: 724px) {

    .home-paragraph {        
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .home-title h1 {      
        font-size: 80px;    
        line-height: 80px;
        font-weight: 800;     
      }
      
    .home-paragraph-column {
        border: 1px solid white;        
        width: 80%;
        height: 20%;          
        margin: 5px;
        padding: 30px; 
        display: flex;
        align-items: center;
    }

    .home-paragraph-column img {
        width: auto;
        height: 100px;
    }


    .home-paragraph-column p {
        font-size: 18px;
        line-height: 20px;
    }

    .hpc-img-text-t {
        padding: 10px;
    }
    
}